<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>ru.sincore.beans.servlets.SendMessage</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>BigTextHandler</servlet-name>
        <servlet-class>ru.sincore.beans.servlets.BigTextHandler</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>ServerManagment</servlet-name>
        <servlet-class>ru.sincore.beans.servlets.ServerManagment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleManagement</servlet-name>
        <servlet-class>ru.sincore.beans.servlets.ModuleManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>ru.sincore.beans.servlets.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ru.sincore.beans.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bw</servlet-name>
        <servlet-class>ru.sincore.beans.servlets.Bw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BwDel</servlet-name>
        <servlet-class>ru.sincore.beans.servlets.BwDel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BigTextHandler</servlet-name>
        <url-pattern>/btHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerManagment</servlet-name>
        <url-pattern>/serverManagment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleManagement</servlet-name>
        <url-pattern>/modulemanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bw</servlet-name>
        <url-pattern>/bw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BwDel</servlet-name>
        <url-pattern>/bwdel</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <!-- ======================================================================================= -->
    <!-- RESTEasy                                                                                -->
    <!-- ======================================================================================= -->
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>

    <!--
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>com.cooldatasoft.service.EchoService</param-value>
    </context-param>
    -->


    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>
    <!-- Via servlet -->
    <!--
    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    -->

    <!-- Via filter -->
    <filter>
        <filter-name>Resteasy</filter-name>
        <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Resteasy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>
